[submodule "GspeakTeamspeakPlugin"]
	path = GspeakTeamspeakPlugin
	url = https://github.com/Thendon/GspeakTeamspeakPlugin
[submodule "GspeakGarrysmodPlugin"]
	path = GspeakGarrysmodPlugin
	url = https://github.com/Thendon/GspeakGarrysmodPlugin
[submodule "GspeakServerAddon"]
	path = GspeakServerAddon
	url = https://github.com/Thendon/GspeakServerAddon
